  <!DOCTYPE html>
  <html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Pagina de laudos</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4/dist/full.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=DM+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <style>


    </style>
 </head>

<body class="main-bg text-gray-100">    
<div class="conteinar_toda_parte_laudo">
<form method="POST" action="/capturar_informacoes_laudo/">
{% csrf_token %}
<div class="conteiner-data">
<p>Data</p>
<input type="text" name="data" placeholder="Medium" class="input input-xs" />
</div>
<div class="conteiner-clinica">
<p>Clinica</p>
<input type="text" name="clinica" placeholder="Medium" class="input input-xs" />
</div>
<div class="conteirner-veterinário">
<p>Veterinario</p>
<input type="text" name="Veterinario" placeholder="Medium" class="input input-xs" />
</div>
<div class="conteirner-tutor">
<p>Tutor</p>
<input type="text" name="Tutor" placeholder="Medium" class="input input-xs" />
</div>
<div class="conteirner-paciente">
<p>Paciente</p>
<input type="text" name="Paciente" placeholder="Medium" class="input input-xs" />
</div>
<div class="conteirner-tipo-exame">
<p>Tipo De Exame</p>
<input type="text" name="tipo_exame" placeholder="Medium" class="input input-xs" />
</div>
<div class="conteirner-modelo">
<p>Modelo</p>
<input type="text" name="Modelo" placeholder="Medium" class="input input-xs" />
</div>

<div class="conteirner-pago">
<p>Pago</p>
<input type="checkbox" name="pago" class="$$checkbox" id="my-checkbox" />
</div>

<div class="conteirner-valor">
<p>Valor</p>
<input type="text" name="valor" placeholder="Medium" class="input input-xs" />
</div>

<div class="conteirner-repasse">
<p>Repasse</p>
<input type="text" name="repasse" placeholder="Medium" class="input input-xs" />
</div>
</form>
</div>
<script>
  document.getElementById("my-checkbox").indeterminate = true
</script>
    
</body>
</html>


