<!DOCTYPE html>
<html>
<head>

    <title>Executivo</title>
    <style>
      .editor-bloco{
            display:flex;
            

      }
      .iframe-ajustes{
            width:75%;
            height:550px;
            display:flex;
      }
     .editor {
  max-width: 10100px;
  height: 5100px;        /* Makes it huge */
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;     /* Allows resizing */
  outline: none;
}
    </style>
</head>
<body>
<section class="editor-bloco">   
<iframe class="iframe-ajustes"src="http://192.168.1.103:8042/ohif/">
  
</iframe>

<textarea class="editor" placeholder="aqui:"></textarea>
</section>
</body>
</html>